<div class="margin-around">
  <h3 id="vereinigte-staaten-von-amerika-usa-">Vereinigte Staaten von Amerika (USA)</h3>
  <p>Die Vereinigten Staaten von Amerika (USA) sind eine föderale Republik in Nordamerika, bestehend aus 50 Bundesstaaten. Sie grenzen im Norden an Kanada und im Süden an Mexiko.</p>
  <h4 id="-berblick">Überblick</h4>
  <ul>
    <li><strong>Hauptstadt</strong>: Washington, D.C.</li>
    <li><strong>Fläche</strong>: ca. 9,8 Millionen km²</li>
    <li><strong>Einwohnerzahl</strong>: über 330 Millionen</li>
  </ul>
  <img style="" ngSrc="assets/usa/usa_loc.png" alt="usa location" height="250" width="500">
  <h4 id="regierungsstruktur">Regierungsstruktur</h4>
  <ul>
    <li><strong>Exekutive</strong>: Präsident</li>
    <li><strong>Legislative</strong>: Kongress (Senat und Repräsentantenhaus)</li>
    <li><strong>Judikative</strong>: Oberstes Gericht</li>
  </ul>
  <img ngSrc="assets/usa/capitol.jpg" alt="US Regierung" height="400" width="638">
  <h4 id="wichtige-bundesstaaten">Wichtige Bundesstaaten</h4>
  <ul>
    <li><p><strong>Kalifornien</strong>: Berühmt für Hollywood und das Silicon Valley.</p>
      <img ngSrc="assets/usa/california.png" alt="Kalifornien" height="360" width="640">
    </li>
    <li><p><strong>Texas</strong>: Bekannt für seine Ölindustrie und Cowboys.</p>
      <img ngSrc="assets/usa/texas.png" alt="Texas" height="360" width="640">
    </li>
    <li><p><strong>New York</strong>: Heimat der Stadt New York, einem globalen Finanzzentrum.</p>
      <img ngSrc="assets/usa/newyork.jpg" alt="New York" height="360" width="640">
    </li>
  </ul>
  <h4 id="sehensw-rdigkeiten">Sehenswürdigkeiten</h4>
  <p>Die USA sind ein Land der Vielfalt mit einer reichen Geschichte und einer dynamischen Kultur.</p>
  <ul>
    <li><p><strong>Freiheitsstatue</strong>: Symbol der Freiheit.</p>
      <img ngSrc="assets/usa/liberty-statue.jpg" alt="Freiheitsstatue" height="534" width="800">
    </li>
    <li><p><strong>Grand Canyon</strong>: Spektakuläre Naturattraktion.</p>
      <img ngSrc="assets/usa/grand-canyon.jpg" alt="Grand Canyon" height="488" width="868">
    </li>
  </ul>

</div>
