<h3 id="wahlen-in-den-usa-2024">Wahlen in den USA 2024</h3>
<h4 id="pr-sidentschaftswahlen">Präsidentschaftswahlen</h4>
<ul>
  <li><strong>Datum</strong>: 5. November 2024</li>
  <li><strong>Kandidaten</strong>:<ul>
    <li><strong>Kamala Harris</strong> (Demokraten): Die amtierende Vizepräsidentin kandidiert für das Präsidentenamt.</li>
    <li><strong>Donald Trump</strong> (Republikaner): Ehemaliger Präsident, kandidiert erneut.</li>
  </ul>
  </li>
  <li><strong>Wahlsystem</strong>: 538 Wahlmänner, 270 Stimmen zum Sieg erforderlich.</li>
</ul>
<p><img src="https://upload.wikimedia.org/wikipedia/commons/4/4b/Kamala_Harris_official_VP_portrait.jpg" alt="Kamala Harris">
  <em>Bildquelle: Wikimedia Commons</em></p>
<p><img src="https://upload.wikimedia.org/wikipedia/commons/5/56/Donald_Trump_official_portrait.jpg" alt="Donald Trump">
  <em>Bildquelle: Wikimedia Commons</em></p>
<h4 id="kongresswahlen">Kongresswahlen</h4>
<ul>
  <li><strong>Repräsentantenhaus</strong>: 435 Sitze, alle 2 Jahre neu gewählt.</li>
  <li><strong>Senat</strong>: 100 Sitze, 33 Sitze werden 2024 neu gewählt.</li>
</ul>
<p><img src="https://upload.wikimedia.org/wikipedia/commons/e/e9/House_of_Representatives_2022.jpg" alt="Repräsentantenhaus">
  <em>Bildquelle: Wikimedia Commons</em></p>
<p><img src="https://upload.wikimedia.org/wikipedia/commons/d/d2/United_States_Senate_2020.svg" alt="Senat">
  <em>Bildquelle: Wikimedia Commons</em></p>
<h4 id="wichtige-punkte">Wichtige Punkte</h4>
<ul>
  <li><strong>Primaries</strong>: Vorwahlen zur Auswahl der Kandidaten.</li>
  <li><strong>Swing States</strong>: Entscheidend für den Wahlausgang.</li>
  <li><strong>Wahlrecht</strong>: Ab 18 Jahren.</li>
</ul>
<p><img src="https://upload.wikimedia.org/wikipedia/commons/4/44/Electoral_College_2016.svg" alt="US-Wahlsystem">
  <em>Bildquelle: Wikimedia Commons</em></p>
