<div class="margin-around">
  <h3 id="wahlen-in-den-usa-2024">Wahlen in den USA 2024</h3>
  <h4 id="pr-sidentschaftswahlen">Präsidentschaftswahlen</h4>
  <ul>
    <li><strong>Datum</strong>: 5. November 2024</li>
    <li><strong>Kandidaten</strong>:<ul>
      <li><strong>Kamala Harris</strong> (Demokraten): Die amtierende Vizepräsidentin kandidiert für das Präsidentenamt.</li>
      <li><strong>Donald Trump</strong> (Republikaner): Ehemaliger Präsident, kandidiert erneut.</li>
    </ul>
    </li>
    <li><strong>Wahlsystem</strong>: 538 Wahlmänner, 270 Stimmen zum Sieg erforderlich.</li>
  </ul>
  <img ngSrc="assets/usa/harris.jpg" alt="Kamala Harris" height="360" width="640">
  <img ngSrc="assets/usa/trump.jpg" alt="Donald Trump" width="375" height="475">
  <h4 id="kongresswahlen">Kongresswahlen</h4>
  <ul>
    <li><strong>Repräsentantenhaus</strong>: 435 Sitze, alle 2 Jahre neu gewählt.</li>
    <li><strong>Senat</strong>: 100 Sitze, 33 Sitze werden 2024 neu gewählt.</li>
  </ul>
  <img ngSrc="assets/usa/congress.jpg" alt="Repräsentantenhaus" height="540" width="960">
  <h4 id="wichtige-punkte">Wichtige Punkte</h4>
  <ul>
    <li><strong>Primaries</strong>: Vorwahlen zur Auswahl der Kandidaten.</li>
    <li><strong>Swing States</strong>: Entscheidend für den Wahlausgang.</li>
    <li><strong>Wahlrecht</strong>: Ab 18 Jahren.</li>
  </ul>
  <img ngSrc="assets/usa/vote.jpg" alt="US-Wahlsystem" height="550" width="955">
</div>
