<mat-toolbar color="primary" class="toolbar">
  <button mat-mini-fab routerLink="/">
    <mat-icon>home</mat-icon>
  </button>
  <div class="small-spacer"></div>
  <button class="toolbar-btn" color="accent" mat-raised-button routerLink="usa-basics">USA 101</button>
  <div class="small-spacer"></div>
  <button class="toolbar-btn" color="accent" mat-raised-button routerLink="president-elections">Präsidentschaftswahl der USA</button>
  <div class="small-spacer"></div>
  <button class="toolbar-btn" color="accent" mat-raised-button routerLink="electoral-college">Electoral College</button>
  <div class="small-spacer"></div>
  <button class="toolbar-btn" color="accent" mat-raised-button routerLink="senatory">Das Repräsentantenhaus</button>
  <div class="small-spacer"></div>
  <button class="toolbar-btn" color="accent" mat-raised-button routerLink="elections-2024">Wahl in 2024</button>
  <span class="spacer"></span>
  <h1>☆☆☆ WAHLSYSTEM DER USA ☆☆☆</h1>
  <span class="spacer"></span>
  <div class="small-spacer"></div>
  <div class="small-spacer"></div>
  <button class="toolbar-btn" color="accent" mat-raised-button routerLink="legal">Impressum</button>
  <div class="small-spacer"></div>
  <button class="toolbar-btn" color="accent" mat-raised-button (click)="rickroll()">Login</button>
</mat-toolbar>
<router-outlet></router-outlet>
