<div class="margin-around">
  <h1>Impressum</h1>

  <h2><strong>Angaben gemäß § 5 TMG</strong></h2>
  <p>
    Raphael Pilz<br>
    Haunstetter-Straße 66<br>
    86161 Augsburg<br>
    Deutschland<br>
    Tel.: 0821/32418993<br>
    <a href="mailto:raphael.pilz@stud.bs7-augsburg.de">raphael.pilz&#64;.bs7-augsburg.de</a>
  </p>

  <h2><strong>Haftungsausschluss</strong></h2>
  <p>
    Der Inhalt dieser Website wurde mit größtmöglicher Sorgfalt erstellt. Dennoch übernehmen wir keine Gewähr für die Richtigkeit, Vollständigkeit und Aktualität der bereitgestellten Inhalte. Für externe Links zu anderen Websites übernehmen wir keine Haftung.
  </p>
  <br>
  <h2><strong>Technische Umsetzung</strong></h2>
  <p>
    Filip Myslinski<br>
    Haunstetter-Straße 66<br>
    86161 Augsburg<br>
    Deutschland<br>
    Tel.: 0821/32418994<br>
    <a href="mailto:filip.myslinski@stud.bs7-augsburg.de">filip.myslinski&#64;.bs7-augsburg.de</a>
  </p>
</div>
