<div class="margin-around">
  <h3 id="wahlen-zum-repr-sentantenhaus-und-senat-in-den-usa">Wahlen zum Repräsentantenhaus und Senat in den USA</h3>
  <h4 id="repr-sentantenhaus">Repräsentantenhaus</h4>
  <ul>
    <li><strong>Anzahl der Sitze</strong>: 435</li>
    <li><strong>Amtszeit</strong>: 2 Jahre</li>
    <li><strong>Verteilung</strong>: Basierend auf der Bevölkerungszahl der Bundesstaaten.</li>
    <li><strong>Wahlen</strong>: Alle zwei Jahre.</li>
    <li><strong>Aufgaben</strong>: Gesetzgebung, Haushaltsbewilligungen, Amtsenthebungsverfahren einleiten.</li>
  </ul>
  <img ngSrc="assets/usa/congress.jpg" alt="Repräsentantenhaus" height="378" width="672">
  <h4 id="senat">Senat</h4>
  <ul>
    <li><strong>Anzahl der Sitze</strong>: 100</li>
    <li><strong>Amtszeit</strong>: 6 Jahre</li>
    <li><strong>Verteilung</strong>: 2 Senatoren pro Bundesstaat.</li>
    <li><strong>Wahlen</strong>: Alle zwei Jahre wird ein Drittel der Sitze neu gewählt.</li>
    <li><strong>Aufgaben</strong>: Gesetzgebung, Ratifizierung von Verträgen, Bestätigung von Ernennungen, Amtsenthebungsverfahren durchführen.</li>
  </ul>
  <img ngSrc="assets/usa/senat.jpg" alt="Senat" height="367" width="653">
  <h4 id="wahlverfahren">Wahlverfahren</h4>
  <ul>
    <li><strong>Vorwahlen</strong>: Bestimmen die Kandidaten der Parteien.</li>
    <li><strong>Wahltag</strong>: Erster Dienstag nach dem ersten Montag im November (alle zwei Jahre).</li>
    <li><strong>Stimmabgabe</strong>: Direktwahl durch die Bürger.</li>
  </ul>
  <h4 id="wahlbezirke">Wahlbezirke</h4>
  <p>Die Wahlbezirke sind geografische Gebiete, in die ein Bundesstaat aufgeteilt wird. Jeder Bezirk wählt einen Vertreter für das Repräsentantenhaus. Die Grenzen der Bezirke werden alle zehn Jahre nach der Volkszählung neu gezogen, um die Bevölkerungsverteilung widerzuspiegeln.</p>
  <img ngSrc="assets/usa/districts.png" alt="Kongresswahlbezirke des 118. Kongresses" width="640" height="596">
  <img ngSrc="assets/usa/popular_vote.png" alt="Hillary Clinton gewinnt die meisten Stimmen" width="1217" height="209">
  <h4 id="bedeutung">Bedeutung</h4>
  <p>Die Wahlen bestimmen die politische Ausrichtung der USA und ermöglichen Bürgerbeteiligung.</p>
  <img ngSrc="assets/usa/vote.jpg" alt="Wahlurne" height="385" width="669">
</div>
