<h3 id="wahlen-zum-repr-sentantenhaus-und-senat-in-den-usa">Wahlen zum Repräsentantenhaus und Senat in den USA</h3>
<h4 id="repr-sentantenhaus">Repräsentantenhaus</h4>
<ul>
  <li><strong>Anzahl der Sitze</strong>: 435</li>
  <li><strong>Amtszeit</strong>: 2 Jahre</li>
  <li><strong>Verteilung</strong>: Basierend auf der Bevölkerungszahl der Bundesstaaten.</li>
  <li><strong>Wahlen</strong>: Alle zwei Jahre.</li>
  <li><strong>Aufgaben</strong>: Gesetzgebung, Haushaltsbewilligungen, Amtsenthebungsverfahren einleiten.</li>
</ul>
<p><img src="https://upload.wikimedia.org/wikipedia/commons/e/e9/House_of_Representatives_2022.jpg" alt="Repräsentantenhaus">
  <em>Bildquelle: Wikimedia Commons</em></p>
<h4 id="senat">Senat</h4>
<ul>
  <li><strong>Anzahl der Sitze</strong>: 100</li>
  <li><strong>Amtszeit</strong>: 6 Jahre</li>
  <li><strong>Verteilung</strong>: 2 Senatoren pro Bundesstaat.</li>
  <li><strong>Wahlen</strong>: Alle zwei Jahre wird ein Drittel der Sitze neu gewählt.</li>
  <li><strong>Aufgaben</strong>: Gesetzgebung, Ratifizierung von Verträgen, Bestätigung von Ernennungen, Amtsenthebungsverfahren durchführen.</li>
</ul>
<p><img src="https://upload.wikimedia.org/wikipedia/commons/d/d2/United_States_Senate_2020.svg" alt="Senat">
  <em>Bildquelle: Wikimedia Commons</em></p>
<h4 id="wahlverfahren">Wahlverfahren</h4>
<ul>
  <li><strong>Vorwahlen</strong>: Bestimmen die Kandidaten der Parteien.</li>
  <li><strong>Wahltag</strong>: Erster Dienstag nach dem ersten Montag im November (alle zwei Jahre).</li>
  <li><strong>Stimmabgabe</strong>: Direktwahl durch die Bürger.</li>
</ul>
<h4 id="bedeutung">Bedeutung</h4>
<p>Die Wahlen bestimmen die politische Ausrichtung der USA und ermöglichen Bürgerbeteiligung.</p>
<p><img src="https://upload.wikimedia.org/wikipedia/commons/d/d7/Voting_at_Roosevelt_High_School_in_Des_Moines%2C_Iowa.jpg" alt="Wahlurne">
  <em>Bildquelle: Wikimedia Commons</em></p>
