<div class="background">
  <div class="centered">
    <div class="card-wrapper">
      <h1>☆☆☆☆☆☆☆ WAHLSYSTEM DER USA ☆☆☆☆☆☆☆</h1>
      <div class="eagle-background">
        <mat-card>
          <div class="header-container">
            <div class="header">
              <mat-icon class="list-icon" [class.icon-complete]="completed.includes(1)">looks_one</mat-icon>
              <p>Die USA und ihre Bundesstaaten</p>
            </div>
            <div class="header">
              <mat-icon class="list-icon" [class.icon-complete]="completed.includes(2)">looks_two</mat-icon>
              <p>Präsidentschaftswahl in der USA</p>
            </div>
            <div class="header">
              <mat-icon class="list-icon" [class.icon-complete]="completed.includes(3)">looks_3</mat-icon>
              <p>Das Electoral College</p>
            </div>
            <div class="header">
              <mat-icon class="list-icon" [class.icon-complete]="completed.includes(4)">looks_4</mat-icon>
              <p>Wahl des Repräsentantenhaus und des Senat</p>
            </div>
            <div class="header">
              <mat-icon class="list-icon" [class.icon-complete]="completed.includes(5)">looks_5</mat-icon>
              <p>Aussicht auf die Wahlen 2024</p>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
  </div>

</div>
